/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./css/style.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
.form-wrapper {
     /* background: linear-gradient(95deg, #9b4591 0%, #ff263a 38%); */
     background-color: #fff;
}

.form-wrapper form input::placeholder{
     color: #000;
}

.form-wrapper form textarea::placeholder{
     color: #000;
}

.form-wrapper form input,.form-wrapper form textarea{
     padding-left: 15px;
     border: 1.5px solid #000;
     margin-top: 40px;
}
